<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS Admin Page</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= strings.admin %></h1>
        <p class="lead text-muted"><%= strings.adminDesc %></p>
    </div>
</section>


<div class="album text-muted center">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="addRoom-tab" data-toggle="tab" href="#addRoom" role="tab"
                   aria-controls="home" aria-selected="true" onclick="getClasses()">
                    <%= strings.addRoom %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="addClass-tab" data-toggle="tab" href="#addClass" role="tab"
                   aria-controls="profile" aria-selected="false">
                    <%= strings.addClass %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="editRoom-tab" data-toggle="tab" href="#editRoom" role="tab"
                   aria-controls="profile" aria-selected="false">
                    <%= strings.editRoom %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="editClass-tab" data-toggle="tab" href="#editClass" role="tab"
                   aria-controls="profile" aria-selected="false" onclick="getClassesForEdit()">
                    <%= strings.editClass %></a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent" align="center" style="padding-top: 10px">
            <div class="tab-pane fade show active" id="addRoom" role="tabpanel" aria-labelledby="addRoom-tab">
                <% include ../partials/addRoom.ejs %>
            </div>
            <div class="tab-pane fade" id="addClass" role="tabpanel" aria-labelledby="addClass-tab">
                <% include ../partials/addClass.ejs %>
            </div>
            <div class="tab-pane fade" id="editRoom" role="tabpanel" aria-labelledby="editRoom-tab">
                <b><%= strings.editRoom %>:</b> <br/>
            </div>
            <div class="tab-pane fade" id="editClass" role="tabpanel" aria-labelledby="editClass-tab">
                <% include ../partials/editClass.ejs %>
            </div>
        </div>

    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>