<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS Class <%= classId %> <%= myClass._name %></title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/myRooms.css">
    <script>
        var rooms = <%- JSON.stringify(rooms) %>;
        var alert = <%- JSON.stringify(alert) %>;
        var isTeacher = <%- JSON.stringify(isTeacher) %>;
    </script>
    <script src="/scripts/class.js"></script>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= myClass._name %></h1>
        <p class="lead text-muted"><%= myClass._descriptions %></p>
        <p class="lead text-muted">Here you can see rooms that you can join</p>
    </div>

    <% if (isTeacher) { %>
    <div id="key">
        <%- strings.key %>:
        <br><br>
        <div class="alert alert-primary" role="alert">
            Technical Challenge
        </div>

        <div class="alert alert-danger" role="alert">
            Idleness
        </div>

        <div class="alert alert-success" role="alert">
            Final Answer
        </div>

        <div class="alert alert-warning" role="alert">
            NMD
        </div>
    </div>
    <% } %>
</section>


<div class="album text-muted">
    <div class="container">
        <script>
            document.write(getRoomsHtml());
        </script>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>