<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS <%- strings.login %></title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<div class="container">

    <div id="login">

        <h1><%- strings.login %></h1><br/>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label><%- strings.Username %></label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label><%- strings.Password %></label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg"><%- strings.login %></button>
        </form>

        <p><%- strings.NeedAnAccount %> <a href="/signup"><%- strings.register %>.</a></p>
        <p><%- strings.OrGo %> <a href="/"><%- strings.Home %></a>.</p>

    </div>

</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>