<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>VCS My Classes</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/myRooms.css">
</head>
<body>
<header>
    <% include ../partials/header %>
</header>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%- strings.myClasses %></h1>
        <p class="lead text-muted"><%- strings.Here_you_can_see_Classes_that_you_can_join %></p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">
        <div class="row">
            <% for (let i = 0; classes != undefined && i < classes.length; i++)  { %>
            <div class="card">
                <img class="card-img-top"
                     src="https://previews.123rf.com/images/iimages/iimages1301/iimages130101248/17443634-Illustration-of-a-teacher-in-the-classroom-Stock-Vector-cartoon.jpg"
                     alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><%= classes[i]._name %></h4>
                    <p class="card-text"><%= classes[i]._descriptions %></p>
                    <a href="/class/<%= classes[i]._classID %>" class="btn btn-primary"><%- strings.EnterClass %></a>
                </div>
                </div>
            <% if (i != classes.length - 1 && i % 2 == 1) { %>
        </div>
        <div class="row">
            <% } %>
            <% }; %>
        </div>

    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>