<script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
<script>
    var strings = <%-JSON.stringify(strings)%>;
    var room = <%-JSON.stringify(room)%>;
    var user = "<%- logged %>";
    var isTech = <%- JSON.stringify(isTech) %>;
</script>
<script src="/scripts/board.js"></script>
<div class="toolBar">
    <button id="btnControl" type="button" onclick="lockBoard(_isLocked)" class="btn btn-success"><%- strings.takeControl %></button>
    <span id="userInControl" style="width: 150px;" class="alert alert-info"><%- strings.noOneInControl %></span>

    <div id="listOfUsers">
        <b><%- strings.activeUsers %>:</b><br/>
    </div>
</div>
<div id="applet_container" class="disabled hidden" dir="ltr"></div>
<div class="loading"></div>