<b><%= strings.editClass %>:</b> <br/>
<div class="result alert" id="resultEditClass">loading...</div>

<div id="accordionClasses">
</div>


<script>
    function deleteClass(classID) {
        var r = confirm("<%= strings.areYouSureDelete %>");
        if (r != true)
            return;
        // Send the data using post
        var posting = $.post("/removeClass/", {classID: classID});

        // Put the results in a div
        posting.done(function (data) {
            data = JSON.parse(data);
            var result = data.result;
            $("#resultEditClass").empty().append(result);
            if (result == "<%= strings.successesForm %>") {
                $("#resultEditClass").removeClass("alert-danger");
                $("#resultEditClass").addClass("alert-success");
                $("#card" + classID).remove();
            }
            else {
                $("#resultEditClass").removeClass("alert-success");
                $("#resultEditClass").addClass("alert-danger");
            }
            $("#resultEditClass").css("display", "block");
            $('html,body').scrollTop(0);
        });
    }

    function editClassForm(classID) {
        // Get some values from elements on the page:
        $('#loading-indicator').show();
        var $form = $('#editClassForm' + classID),
            className = $form.find("input[name='className']").val(),
            desc = $form.find("input[name='desc']").val(),
            url = $form.attr("action");

        // Send the data using post
        var posting = $.post(url, {classID: classID, className: className, desc: desc});

        // Put the results in a div
        posting.done(function (data) {
            data = JSON.parse(data);
            var result = data.result;
            $("#resultEditClass").empty().append(result);
            if (result == "<%= strings.successesForm %>") {
                $("#resultEditClass").removeClass("alert-danger");
                $("#resultEditClass").addClass("alert-success");
                $("#btn" + classID).html(className + " #" + classID + "\n");
            }
            else {
                $("#resultEditClass").removeClass("alert-success");
                $("#resultEditClass").addClass("alert-danger");
            }
            $('#loading-indicator').hide();
            $('html,body').scrollTop(0);
            $("#resultEditClass").fadeOut().fadeIn();
        });
    }

    function getClassesForEdit() {
        function createForm(cls) {
            return "<form id=\"editClassForm" + cls._classID + "\" onsubmit=\"editClassForm(" + cls._classID + "); return false;\" action=\"/editClass\">\n" +
                "    <div class=\"form-group\">\n" +
                "        <label for=\"className\"><%= strings.className %></label>\n" +
                "        <input type=\"text\" value=\"" + cls._name + "\" class=\"form-control\" name=\"className\" placeholder=\"<%= strings.className %>\">\n" +
                "\n" +
                "    </div>\n" +
                "    <div class=\"form-group\">\n" +
                "        <label for=\"desc\"><%= strings.description %></label>\n" +
                "        <input type=\"text\" value=\"" + cls._descriptions + "\"  class=\"form-control\" name=\"desc\" placeholder=\"<%= strings.description %>\">\n" +
                "    </div>\n" +
                "    <button type=\"submit\" class=\"btn btn-primary\"><%= strings.editClass %></button>\n" +
                "    <button type=\"button\" onclick=\"deleteClass(" + cls._classID + ")\" class=\"btn btn-danger\"><%= strings.deleteClass %></button>" +
                "</form>";
        }

        function getCardOfClass(cls) {
            return "<div id=\"card" + cls._classID + "\" class=\"card\">\n" +
                "        <div class=\"card-header\" id=\"headingCLS" + cls._classID + "\">\n" +
                "            <h5 class=\"mb-0\">\n" +
                "                <button id=\"btn" + cls._classID + "\" class=\"btn btn-link\" data-toggle=\"collapse\" data-target=\"#collapseCLS" + cls._classID + "\" aria-expanded=\"true\" aria-controls=\"collapseCLS" + cls._classID + "\">\n" +
                "                    " + cls._name + " #" + cls._classID + "\n" +
                "                </button>\n" +
                "            </h5>\n" +
                "        </div>\n" +
                "\n" +
                "        <div id=\"collapseCLS" + cls._classID + "\" class=\"collapse\" aria-labelledby=\"headingCLS" + cls._classID + "\" data-parent=\"#accordionClasses\">\n" +
                "            <div class=\"card-body\">\n" +
                "                " + createForm(cls) +
                "            </div>\n" +
                "        </div>\n" +
                "    </div>";
        }

        $('#loading-indicator').show();
        $.get("getClasses", function (data) {
            $('#accordionClasses').empty();
            var classes = JSON.parse(data);
            if (classes.length == 0) {
                $("#resultEditClass").empty().append("<%= strings.youMustHaveClass %>");
                $("#resultEditClass").addClass("alert-danger");
                $("#resultEditClass").css("display", "block");
            }
            else {
                $("#resultEditClass").css("display", "none");
                $.each(classes, function (key, value) {
                    $('#accordionClasses')
                        .append(getCardOfClass(value))
                });
            }
            $('#loading-indicator').hide();
        });
    }
</script>