<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" height="40px" style="margin-top: -10px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item <%- (page == "home") ? 'active' : '' %> ">
                <a class="nav-link" href="/"><%- strings.home %></a>
            </li>
            <li class="nav-item <%- (page == "room") ? 'active' : '' %>">
                <a class="nav-link" href="/myRooms"><%- strings.rooms %></a>
            </li>
            <li class="nav-item <%- (page == "class") ? 'active' : '' %>">
                <a class="nav-link" href="/myClasses"><%- strings.classes %></a>
            </li>
            <% if (logged != null && isTech == true) { %>
            <li class="nav-item <%- (page == "admin") ? 'active' : '' %>">
                <a class="nav-link" href="/admin"><%- strings.admin %></a>
            </li>
            <% } %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if (logged != null) { %>
                    <%- logged %>
                    <% } else { %>
                    <%- strings.NotConnected %>
                    <% } %>

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% if (logged != null) { %>
                    <a class="dropdown-item" href="/logout"><%- strings.logout %></a>
                    <% } else { %>
                    <a class="dropdown-item" href="/signup"><%- strings.register %></a>
                    <a class="dropdown-item" href="/login"><%- strings.login %></a>
                    <% } %>
                </div>
            </li>
        </ul>
    </div>
</nav>